doctype html
html

  head
    -const title= "Menu"
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    // Or a specific admin stylesheet if you have one
    link(rel='stylesheet', href='/stylesheets/style.css') 
  body
    .header
      h1.restaurant-name Admin Panel - #{title}
    include ../nav_bar.pug 
    .content
      block content
