extends layout

block content
  .main-image-container
    img.main-image(src="/images/restaurant-interior.jpg", alt="Elegant restaurant interior with tables and chandeliers")
  
  .reservation-container
    a.reservation-button(href="/reservations") Make Reservation
